/**
 * custom layout
 */


/* colors */

#header,
#footer {
    background-color: lightskyblue;
    height: 270px;
}

/* Modify default element */


img {
    max-height: 100%;
    max-width: 100%;
}

body {
    padding-top: 0px;

}

#main-wrap {
    background-color: #D9D9D9;
}

#sidebar {
    background-color: #d2d2d2;
}

#content-wrap {
    background-color: #c5c5c5;
}

.info {
    background-color: #DDD;
}

.info+.info {
    background-color: #e6e6e6
}


/* sizes */

#main-wrap>div {
    min-height: 300px;
}

#header,
#footer {
    min-height: 40px;
}

.info {
    min-height: 150px;
}


/* layout */

#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#sidebar {
    float: left;
    width: 30%;
}

#content-wrap {
    float: right;
    width: 70%;
}

#info-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

.info {
    width: 50%;
    float: left;
}


/* Bootstrap class */

.card {
    max-width: 300px;
    overflow: hidden;
    /* border: 12px solid deepskyblue; */
    /* border-radius: 10px; */
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    text-align: center;
}

.img-fluid {
    width: 100%;
    display: block;
    margin: auto;
}


.card-text {
    word-wrap: break-word;
}

.main-section[id]:before {
    display: block;
    content: " ";
    height: 40px;
    background-color: white; 
    visibility: hidden;
}

b {
    font-family: verdana;
    font-size: 100%
}

.section {
    line-height: 20px;
    /* height: 350px; */
    /*width: 550px;*/
    /*float: left;*/
    padding: 0px
}

.carousel {
    margin: -25px;
    margin: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 600px;
}

.bgimg {
    margin-top: 30px;
    background-image: url("../images/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
}

.gcw_mainFaN5z6PfE{
    float: left;
    max-height: 100%;
    max-width: 100%;
}

#footer-img {
     height:60px;
     width:400px;
     vertical-align: bottom;
     margin-top: 15%;
}

#advisor-row {
    margin-top: -50px;
    background: linear-gradient(to right, lightgray, white);
    color: gray;
}

#event-container {
    margin: 0;
    padding-left: auto;
    margin-top: 50px;
    background-image: url("../images/act.png");
    text-align: center;
    grid-gap: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#event-container>div>div>div[class="row"] {
    /* background-color: red; */
    height: 250px;
}

#event-container>div>div>div[class="row"]>p {
    padding-top: 100px;
}

#event-container>div>div>div[class="row"]>div {
    bottom: 0px;
    position:absolute;
    text-align: center;
    width: 100%;
}

.custom-margin {
    padding: 0;
   

}
#product-sidebar{
    height: 500px;
    background-color: lightgrey;
}
#product-article{
    background-color: white;
    background: url("../images/white_paper.png");
     background-size: 100% 100%;
        
}

#adv-row {
    margin-top: -50px;
    background-color: #c9e2b3;
    color: grey;
}

#inner-header{
   
    background: url("../images/bgimg.jpg");
    height:500px;
    background-size: 100% 150%;
        
}

#contact {
    margin-top: 10%;
    margin-bottom: 10%;
}

#retirement-calculator-bg{
    background: url("../images/cal-bg.png") right no-repeat;
    height:500px;
    background-size: 80% 100%;
    
    
}

#calculator{
    background: url("../images/cal.png");
    
    background-size: 100% 100%;
}
