<div id="contact" class="main-section container">
    <div class="section col-md-4">
        <a> <br><br><img src ="images/qr.png"><br><br></a>


        <div id="ckepop">
            <span class="jiathis_txt">分享到：</span>
            <a class="jiathis_button_tsina">新浪微博</a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
            <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>


    </div>
    <div class="section col-md-4">
        <h3 class="w3-border-bottom w3-border-light-blue w3-padding-16" style="font-family:verdana">Useful Links<br>
            <font size="4">更多链接</font>
        </h3><br>
        <p><a href="http://cpig.visastudio.com/#">CPIG Tax</a></p>
        <p><a href="https://www.freedom55financial.com/">Freedom 55</a></p>
        <p><a href="http://www.fidelity.ca/">Fidelity</a></p>
        <p><a href="https://www.londonlife.com/">London Life</a></p>
        <p><a href="https://www.canada.ca/en.html">Canada Government</a></p>
        <p><a href="http://www2.gov.bc.ca/">BC Government</a></p>

    </div>
    <div class="section col-md-4">
        <h3 class="w3-border-bottom w3-border-light-blue w3-padding-16" style="font-family:verdana">Get in Touch<br>
            <font size="4">联系我们</font>
        </h3><br>
        <div style="font-size:120%">
            <p><i class="glyphicon glyphicon-phone"></i> : 604-275-2744</p><br>
            <p><i class="glyphicon glyphicon-envelope"></i> : info@tenkk.ca</p><br>
            <p><i class="fa fa-clock-o"></i> : Mon - Fri 9.00 - 17.00</p><br>
            <p><i class="fa fa-car"></i> : #4080-8171 Ackroyd Rd,Richmond, BC.V6X3K1</p>
        </div>
    </div>
</div>