<div id="footer">
    <div class="main-section container">
        <div class="section col-md-6">
            <a> <img class="logo" style="margin-top:30%;" src ="images/tenkk_small.png" height="70px"></a>
        </div>
        <div style="margin-top: 5%; margin-bottom:-5;" class="section col-md-6">
            <p>
                <div class="section col-md-4"><img src="images/qr1.png" width="150px" height="150px"></div>
            </p>
            <p>
                <div class="section col-md-4"><img src="images/qr2.png" width="150px" height="150px"></div>
            </p>
            <p>
                <div class="section col-md-4"><img src="images/qr3.png" width="150px" height="150px"></div>
            </p>

        </div>


    </div>

    <div align="center">
        <p>
            <font size="2"><br><br>Copyright©2017TenKK Financial Consulting Ltd. All rights reserved.| <a href="disclaimer.html">Desclaimer</a></font>
        </p>
    </div>
</div>
