<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links
    $("a.smooth").on('click', function (event) {
        if (this.hash !== "") {
            event.preventDefault();

            // Store hash
            var hash = this.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 1000, function () {
                window.location.hash = hash;
            });
        }
    });
   
    function checkScroll(){
        var startY = $('.navbar').height() * 2; //The point where the navbar changes in px

        if($(window).scrollTop() > startY){
            $('.navbar').addClass("scrolled");
        }else{
            $('.navbar').removeClass("scrolled");
        }
    }

    if($('.navbar').length > 0){
        $(window).on("scroll load resize", function(){
            checkScroll();
        });
    }
});
</script>
<div id="myTopBtn" align="center">
      <a class="smooth" href="#home"><img src="images/sunflower.gif" width="100px" height="100px"><br><b style="color:orange">回到顶部</b></a>
  </div>